.react-emoji-picker--container {
  padding: 10px; /* Add padding inside the popup */
  margin-top: 70%;
}

/* Style the emoji buttons inside the popup */
.react-emoji-picker--emoji {
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  display: inline-block;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
    sans-serif;
}

.react-emoji-picker--emoji:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}

/* Style the input field */
.react-input-emoji--input {
  color: #333;
  font-size: 16px;
  padding: 10px;

  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
    sans-serif;
}

/* Style the emoji button */
.react-input-emoji--button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
